# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Node
frontend/node_modules/
frontend/dist/

# Model files (optional)
saved_models/*.joblib

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
